<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.example.amp-tasks</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>-l</string>
		<string>/Users/you/.local/share/amp-tasks/run-dash.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/you/Library/Logs/amp-tasks/dash.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/you/Library/Logs/amp-tasks/dash.out.log</string>
	<key>WorkingDirectory</key>
	<string>/Users/you/.local/share/amp-tasks</string>
</dict>
</plist>
